.CartContainer {
    position: fixed;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

.CartContent {
    width: 30%;
    height: 60%;
    background: var(--blueblack);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 2px solid var(--cyan);
    border-bottom: 2px solid var(--cyan);
    border-radius: 0px 0px 0px 20px;
    color: white;
}

.CartContent p {
    font-size: 30px;
}

.CloseCart {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CloseCartIcon {
    color: white;
    fill: white;
    font-size: 20px;
    transition: .2s;
}

.CloseCartIcon:hover {
    fill: var(--red);
    transform: rotate(180deg);
    cursor: pointer;
}

.CartAstros {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AstroContent {
    margin-top: 10px;
    width: 90%;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.AstroContent img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.AstroContent section {
    padding-left: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AstroName {
    color: var(--cyan);
    font-size: 30px;
}

.AstroCategory {
    color: var(--coral);
    font-size: 15px;
}

.AstroPrice {
    color: var(--bluegreen);
    font-size: 15px;
}

.deleteIcon {
    fill: var(--coral);
    font-size: 30px;
    transition: .2s;
}

.deleteIcon:hover {
    cursor: pointer;
    fill: var(--redbrown);
}

.TotalButton {
    margin-bottom: 10px;
    width: 100px;
    padding: 10px;
    color: var(--bluegreen);
    border-radius: 5px;
    border: 2px solid white;
    transition: .2s;
}

.TotalButton:hover {
    cursor: pointer;
    color: black;
    background: var(--bluegreen);
}
