.CartContainer {
    position: fixed;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

.CartContent {
    width: 30%;
    height: 60%;
    background: var(--blueblack);
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 2px solid var(--cyan);
    border-bottom: 2px solid var(--cyan);
    border-radius: 0px 0px 0px 20px;
    color: white;
}

.CloseCart {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CloseCartIcon {
    color: white;
    fill: white;
    font-size: 20px;
    transition: .2s;
}

.CloseCartIcon:hover {
    fill: var(--cyan);
    transform: rotate(180deg);
    cursor: pointer;
}

.CartAstros {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.AstroContent {
    display: flex;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.AstroContent img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.AstroContent h1:nth-child(2) {
    font-size: 20px;
    color: var(--cyan);
}

.AstroContent h1:nth-child(3) {
    font-size: 15px;
    color: var(--coral);
}

.AstroContent h1:nth-child(4) {
    font-size: 15px;
    color: var(--bluegreen);
}

.TotalButton {
    padding: 5px;
    width: 100px;
    margin: 10px 0px;
    border: 2px solid var(--cyan);
    border-radius: 5px;
    color: var(--cyan);
    font-size: 20px;
    transition: .2s;
}

.TotalButton:hover {
    cursor: pointer;
    background: var(--cyan);
    color: var(--blueblack);
}

.deleteIcon {
    fill: white;
    font-size: 20px;
    transition: .2s;
}

.deleteIcon:hover {
    fill: var(--coral);
    cursor: pointer;
}
